@model TMS.Models.UserReportsTable

@{
    ViewBag.Title = "Delete";
}
<div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
    <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
        <div class="uil-default-css">
            <div class="loader">Loading...</div>
        </div>
        <div class="resultLoading" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
    </div>
    <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
</div>
@if (Session["urserrole"].Equals(2) || Session["urserrole"].Equals(5))
{

    <div class="jumbotron">
        <div class="card text-center">

            <div class="card-body">

                <div class=" table-responsive">

                    <hr />

                    <table class="table table-striped display expandable-table" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">    @Html.DisplayNameFor(model => model.Report)</th>
                                <th scope="col">   @Html.DisplayNameFor(model => model.Title)</th>
                                <th scope="col">    @Html.DisplayNameFor(model => model.TaskTable.TaskName)</th>
                                <th scope="col">    @Html.DisplayNameFor(model => model.UsersTable.Username)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">
                                    <a href="@Url.Action("DownloadFile", "UserReports", new { fileName = Model.Report })" class="btn btn-inverse-primary">
                                        <i class="fa-solid fa-file-circle-check menu-icon"></i>
                                    </a>
                                </td>
                                <td scope="col">   @Html.DisplayFor(model => model.Title)</td>
                                <td scope="col">    @Html.DisplayFor(model => model.TaskTable.TaskName)</td>
                                <td scope="col">    @Html.DisplayFor(model => model.UsersTable.Username)</td>



                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
            <div class="card-footer text-muted">
                <div class="card-header">
                    <h3>DELETE  SUBMITTED REPORT / RECIEVED.</h3>
                    <p class="text-success">Once the report is deleted, this action also <span class="text-danger"> <em> DELETES </em></span>the submitted report in the supervisors space</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()



                        <div class="form-actions no-color">
                            <input type="submit" value="Retrive" class="btn btn-danger" />

                            @if (Session["urserrole"].Equals(2))
                            {
                                <a href="@Url.Action("Myreports","UserReports")" class="btn btn-outline-primary text-black"> BACK </a>
                            }
                            else if (Session["urserrole"].Equals(5))
                            {
                                <a href="@Url.Action("Index","UserReports")" class="btn btn-outline-primary text-black"> BACK </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Myreports","UserReports")" class="btn btn-outline-primary text-black"> BACK </a>
                            }


                        </div>
                    }

                </div>
            </div>
        </div>
    </div>



}
else
{
    <div class="card text-center  mt-100">
        <div class="card-header bg-danger text-white">Notification</div>
        <div class="card-body">
            <h5 class="card-title">NOT AUTHORISED</h5>
            <p class="card-text">  access denied</p>


        </div>
        <div class="card-footer text-muted"> <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary text-black"> <i class="fa-solid fa-house-circle-check"></i></a></div>
    </div>

}









