@model TMS.Models.UsersRolesTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsersRolesTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RolesTable.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolesTable.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsersTable.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsersTable.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsersRolesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
