@model IEnumerable<TMS.Models.TaskTable>




<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-uppercase">
                    ALL TASKS
                    <span class="text-primary">
                        @Session["usernames"]
                    </span>
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="example" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaskName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FeedBack)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BodyContent)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaskStatus)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TastStartTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaskEndTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UnitTable.UnitName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UsersTable.Username)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TaskName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FeedBack)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BodyContent)
                                            </td>
                                            <td>
                                               @if (item.TaskStatus == true)
                                                {
                                                <button class=" btn badge-success"> Complete</button>
                                                }
                                                else
                                                {
                                                <button class="btn badge-warning text-white">  Pending  </button>
                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TastStartTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TaskEndTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnitTable.UnitName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UsersTable.Username)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", "Tasks", new { id = item.TaskId })" class="btn btn-inverse-success">
                                                    <i class="fa-solid fa-eye   "></i>

                                                </a>




                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

