@model TMS.Models.UsersTable
<div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
    <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
        <div class="uil-default-css">
            <div class="loader">Loading...</div>
        </div>
        <div class="resultLoading" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
    </div>
    <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
</div>
<div class="jumbotron">

    <div class="card text-center">
        <div class="card-header">
            USER DETAILS
        </div>
        <div class="card-body">

            <div class=" table-responsive">

                <hr />

                <table class="table table-striped display expandable-table" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">  @Html.DisplayNameFor(model => model.Username)</th>
                            <th scope="col">    @Html.DisplayNameFor(model => model.Email)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.DOB)</th>
                            <th scope="col">    @Html.DisplayNameFor(model => model.IsEmailVerified)</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">  @Html.DisplayFor(model => model.Username)</td>
                            <td scope="col">    @Html.DisplayFor(model => model.Email)</td>
                            <td scope="col">  @Html.DisplayFor(model => model.DOB)</td>

                            <td scope="col">
                                @if (Model.IsEmailVerified == true)
                                {
                                    <button class=" btn badge-success"> VERIFIED</button>
                                }
                                else
                                {
                                    <button class="btn badge-danger text-white"> NON - VERIFIED </button>
                                }
                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>
            <div style="margin-top:10px;">
                <p>

                    @if (Session["urserrole"].Equals(2))
                    {
                        <a href="@Url.Action("Myusers","Users")" class="btn btn-outline-primary text-black"> BACK </a>
                    }
                    else if (Session["urserrole"].Equals(5))
                    {
                        <a href="@Url.Action("Index","Users")" class="btn btn-outline-primary text-black"> BACK </a>
                    }


                </p>
            </div>


        </div>

    </div>

</div>