@model TMS.Models.UnitAdminTable

@{
    ViewBag.Title = "Delete";
}
@if (Session["urserrole"].Equals(2) || Session["urserrole"].Equals(5))
{
    <div class="jumbotron">
        <div class="card text-center">

            <div class="card-body">

                <div class=" table-responsive">

                    <hr />

                    <table class="table table-striped display expandable-table" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">         @Html.DisplayNameFor(model => model.UnitTable.UnitName)</th>
                                <th scope="col">   @Html.DisplayNameFor(model => model.UsersTable.Username)</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">        @Html.DisplayFor(model => model.UnitTable.UnitName)</td>
                                <td scope="col">   @Html.DisplayFor(model => model.UsersTable.Username)</td>



                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
            <div class="card-footer text-muted">
                <div class="card-header">
                    <h3>DEACTIVATE USER UNIT.</h3>
                    <p class="text-danger"> Deactivating will not delete the user, it simply removes the access rights for units from the user.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Deactivate" class="btn btn-danger" />
                            <a class="btn btn-outline-primary" href=" @Url.Action("Index", "UnitAdmin")"> BACK</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="card text-center  mt-100">
        <div class="card-header bg-danger text-white">Notification</div>
        <div class="card-body">
            <h5 class="card-title">NOT AUTHORISED</h5>
            <p class="card-text">  access denied</p>


        </div>
        <div class="card-footer text-muted"> <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary text-black"> <i class="fa-solid fa-house-circle-check"></i></a></div>
    </div>

}