@model TMS.Models.UnitAdminTable

@{
    ViewBag.Title = "Details";
}






<div class="jumbotron">

    <div class="card text-center">
        <div class="card-header">
            USER UNIT DETAILS
        </div>
        <div class="card-body">

            <div class=" table-responsive">

                <hr />

                <table class="table table-striped display expandable-table" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">  @Html.DisplayNameFor(model => model.UnitTable.UnitName)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.UsersTable.Username)</th>
                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">  @Html.DisplayFor(model => model.UnitTable.UnitName)</th>
                            <th scope="col">  @Html.DisplayFor(model => model.UsersTable.Username)</th>

                           

                        </tr>

                    </tbody>
                </table>

            </div>
            <div style="margin-top:10px;">
                <p>
                        <a href="@Url.Action("Index","UnitAdmin")" class="btn btn-outline-primary text-black"> BACK </a>
                    
                </p>
            </div>


        </div>

    </div>

</div>